h1 {
  text-align: left;
  color: #596aca;
}

p {
  text-align: left;
  color: #596aca;
  margin: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

p:first-letter {
  text-transform: capitalize;
}

.temperatureNow {
  text-align: right;
  color: #596aca;
  font-size: 50px;
}

h5 {
  text-align: center;
  color: rgb(250, 222, 63);
  margin-bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica;
}

h6 {
  text-align: center;
  color: #596aca;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Inv Maison Neue", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 15px;
  margin: 5px 0px;
}

hr {
  color: rgb(250, 222, 63);
  border: 2px solid rgb(250, 222, 63);
  border-radius: 2px;
  margin: 10px;
}

.today {
  color: rgb(250, 222, 63);
  font-size: 100px;
  text-align: right;
}

img {
  color: rgb(250, 222, 63);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0;
}

.currentLocation {
  width: 100%;
  background-color: rgba(89, 106, 202, 0.3);
  border: solid 2px #596aca;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  transition: all 200ms ease-in-out;
}

.currentLocation:hover {
  background-color: white;
}

.six-days .card {
  border: solid 2px rgb(250, 222, 63);
  padding: 5px;
  margin-top: 10px;
}

.city .card {
  background-color: rgba(89, 106, 202, 0.3);
  border: solid 2px #596aca;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.city .card-body {
  padding: 0px;
}

.today .card {
  background-color: white;
  border: solid 2px #596aca;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 5px;
}

.today .card-body {
  padding: 5px;
}

#date {
  color: #596aca;
}

.searchfield {
  border: solid 2px #596aca;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0 20px;
}

.button {
  width: 50%;
  background-color: rgba(89, 106, 202, 0.3);
  border: solid 2px #596aca;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  transition: all 200ms ease-in-out;
}
.button:hover {
  background-color: white;
}
